@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');
:root{
    
    --cor-principal:#8973df91;
    --cor-ecundara:#3ae7ed6e;
    --cor-texto:#8250c2;
    --cor-de-fundo:#50c2bc;
    --font:"Sofadi One"Static;;

}

  